body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

input, button {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}